@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.FName</h1>
    <p>Here is a website all about Energy Drinks.</p>
</div>
