@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The information you provide will only be used to operate this website. We do not share your information with 3rd parties. Disclosure is voluntary, but failure to disclose certain information may result in reduced functionality.</p>
